<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <title>ニコニコ動画風チャット 設定</title>
</head>
<body>

    <div id="app">
        <div class="overlay-link">
            <a :href="link" target="_blank">オーバーレイリンク</a>
        </div>
        <section v-for="section in sectionList">
            <h3>{{ section.name }}</h3>

            <div class="enable-block">
                <select v-model="formData[section.key + '_enable']">
                    <option :value="true">有効</option>
                    <option :value="false">無効</option>
                </select>
            </div>
            <div class="color-block">
                <div class="color-item" v-for="colorKey in Object.keys(section.colorInfo)">
                    <label>
                        <span class="color-info-name">{{ section.colorInfo[colorKey] }}</span>
                        <input type="color" v-model="formData[section.key + '_' + colorKey]">
                    </label>
                </div>
            </div>
            
        </section>
    </div>
    
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>    
    <script src="./main.js"></script>
</body>
</html>